@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: #171717;
		--foreground: #fcd9b8;

		--card: #171717;
		--card-foreground: #fcd9b8;

		--popover: #171717;
		--popover-foreground: #fcd9b8;

		--primary: #e09146;
		--primary-foreground: #171717;

		--secondary: #fcecd2;
		--secondary-foreground: #171717;

		--muted: #fcecd2;
		--muted-foreground: #171717;

		--accent: #fcecd2;
		--accent-foreground: #171717;

		--destructive: #800000;
		--destructive-foreground: #fcd9b8;

		--border: #303030;
		--input: #303030;
		--ring: #fcd9b8;

		--radius: 0.5rem;
	}
	.font-teko {
		font-family: 'Teko', sans-serif;
		font-optical-sizing: auto;
		font-style: normal;
	}
	.font-ubuntu {
		font-family: 'Ubuntu', sans-serif;
		font-optical-sizing: auto;
		font-style: normal;
	}
}

@layer base {
	body {
		@apply bg-background text-foreground;
	}
}
